.game-container, .skeleton-container  {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}


.game-list, .skeleton {
  flex-grow: 1; /*The item can grow and take up available space.*/
  flex-shrink: 1; /*The item can shrink to fit the container if needed.*/
  flex-basis: 100%; /*The item's default size is 100% of the container's width.*/
  list-style: none;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  background-color: rgb(34, 34, 48);
}

.skeleton {
  background-color: rgb(44, 44, 58); /* Slightly lighter color for the skeleton background */
  animation: pulse 1.5s infinite ease-in-out;
}

.game-list img {
  width: 100%; /* Ensure images take up the full width of the flex item */
  height: auto;
}
/* Skeleton for the image area */
.skeleton-photo {
  width: 100%;
  height: 180px; /* Fixed height similar to the expected image size */
  background-color: rgb(54, 54, 68);
}
.game-list  h1, .game-list span {
  font-size: 15px;
  margin: 5px;
  color:aliceblue
}
.dark-header  {
  color: white
}
/* Tablet: 2 items per row */
@media (min-width: 768px) {
  .game-container .game-list, .skeleton  {
    flex: 1 1 calc(50% - 20px); /* Take 50% width on tablet screens */
  }
}

/* Larger screens: 3 items per row */
@media (min-width: 1024px) {
   .game-container .game-list, .skeleton  {
    flex: 1 1 calc(33.33% - 20px);/* Take roughly 1/3 of the width */
  }
}


/*creating divs styled to look like content placeholders and animating them.*/

.skeleton {
  background-color: #cccccc; /* Change to your preferred color */
  border-radius: 4px;
  margin-bottom: 10px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-photo {
  width: 100%; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  background-color: #e0e0e0; /* Lighter background for the loading effect */
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}


/* Skeleton for the title area */
.skeleton-title {
  width: 80%;
  height: 20px;
  background-color: rgb(64, 64, 78);
  margin: 10px auto;
  border-radius: 4px;
}

/* Animation for loading effect */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}


